.FilterTab {
    margin-left: auto;
}

.FilterTab li {
    margin-left: 15px;
}

.FilterTab li:hover a {
    color: #3BB77E;
    top: -5px;
}

.FilterTab li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    position: relative;
}

.FilterTab .Active a {
    color: #3BB77E !important;
}


.HomeProduct .productRow {
    display: flex;
    padding: 15px 0px;
    margin: 0 -15px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.HomeProduct .productRow .item {
    width: 20%;
    /* height: 400px; */
    /* background: #000; */
    padding: 0px 15px;
    overflow: hidden;
}
.DailyProduct {
    margin-bottom: 30px;
}

.DailyProduct .dailyProductSlider .item {
    padding-left: 10px;
    padding-right: 10px;
}

.DailyProduct .demoImg {
    border-radius: 20px;
}