.catSliderSection {
    width: 100%;
    /* max-width: 1610px; */
    margin-right: auto;
    margin-left: auto;
    height: auto;
    padding: 30px 0;
}

.cat_slider_Main {
    padding-right: 20px !important;
}

.catSliderSection .slick-next {
visibility: hidden;
    opacity: 0;
}
.catSliderSection .slick-track {
    overflow: hidden;
}

.catSliderSection .slick-prev {
visibility: hidden;
    opacity: 0;
}

.cat_slider_Main .item {
    width: 137px !important;
    height: auto;
    background: #F4F6FA;
    border-radius: 7px;
    cursor: pointer;
}
.cat_slider_Main .item h5 {
    font-size: 1.25rem;
}
.cat_slider_Main .item a {
    text-decoration: none;
}
.cat_slider_Main .item:hover {
    color: #3bb77e;
}

.cat_slider_Main .item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid;
}

.cat_slider_Main .item .info:hover.info h5 {
    color: #3bb77e;
    
}

.cat_slider_Main .item .info img {
    transition: transform 0.9s ease;
    margin-top: 20px;
}

.cat_slider_Main .item .info:hover.info img {
    transform: scale(1.2)
}

.cat_slider_Main .item .info:hover {
    border-color: #3bb77e !important;
}

.cat_slider_Main .item .info img {
    margin-bottom: 20px;
}

.cat_slider_Main .item .info h5 {
    color: #000;
    font-weight: 500;
}


.cat_slider_Main .item .info span {
    opacity: 0.8;
    color: #000;
}